
* {
  color: #ecf1f8;
  font-weight: 400;
  font-size: 1.6rem;
}
h1{
  font-weight: 700;
  font-size: 2.8rem;
}
h2{
  font-size: 2.2rem;
}
.form{
  font-family: 'Raleway',sans-serif;
  min-width: 200px;
  width: 80vw;
  margin: auto;
  margin-top:15vh;
  // height: 85vh;
  // overflow-y: scroll;
}
#nameHelp {
  margin-right: 5px;
}
#subjectInput {
  width: 300px;
}

.lined, .lined:focus {
  margin-top: 10px;
  color: #ecf1f8;
  width: 150px;
  font-size: 1.6rem;
  background-color: transparent;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid white;
  border-radius: 0%;
  box-shadow: none;
}

.mb-20{
  margin-bottom: 20px;
}
.mb-40{
  margin-bottom: 40px;
}

.round-button {
  float: left;
  background-color: transparent;
  border: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #ecf1f8;
  border-radius: 100px;
  padding: 10px 25px;
  cursor: default;
  text-decoration: none;
  margin: 30px;
  box-shadow:none;
  transition: 0.7s box-shadow ease-in-out;
  span {
    font-size: 1.6rem;
    transition: .7s opacity ease-in-out;
    opacity: .3;
  }
}
  .elevated, .elevated:hover {
    span {
    opacity: 1;
    transition: 0.7s opacity ease-in-out;
    }
    visibility: visible;
    transition: 0.4s box-shadow ease-in-out;
    cursor: pointer;
    box-shadow:
    -8px -8px 20px 0px #6668,
      -5px -5px 6px 0px #6668,
      8px 8px 20px 0px #0003,
      5px 5px 6px 0px #0003,
      inset 0px 0px 0px 0px #6668,
      inset 0px 0px 0px 0px #0003,
      inset 0px 0px 0px 0px #6668,
      inset 0px 0px 0px 0px #0003;
  }
  .elevated:active {
    transition: 0.2s box-shadow ease-in-out;
    box-shadow:
      0px 0px 0px 0px #6663,
      0px 0px 0px 0px #6663,
      0px 0px 0px 0px #0005,
      0px 0px 0px 0px #0005,
      inset -8px -8px 20px 0px #6663,
      inset -5px -5px 6px 0px #6663,
      inset 8px 8px 20px 0px #0005,
      inset 5px 5px 6px 0px #0005;
    }
textarea {
  resize: none;
  outline: none;
  width: 50%;
  padding: 25px;
  color:#57585a;
  font-size: 1.3rem;
  float: left;
}
// ANIMATIONS
.par {
  height: auto;
  overflow: hidden;
}
.title {
  transform: translateY(-200px);
  animation: slideDown 1s ease-in-out forwards .8S;
}
.subtitle {
  transform: translateY(150px);
  animation: slideUp 1s ease-in-out forwards .8s;
}
.name {
  transform: translateY(150px) ;
  animation: slideUp 1s ease-in-out forwards 2s;
}
@keyframes slideUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
