 #body{
  --background: #ecf1f8;
  --gray: #a5b1c6;
  background-color: var(--background);
 }
 .footer {
   width: 100%;
   background-color: white;
   height: 5px;
   position: fixed;
   bottom: 0;
   z-index: 2000;
   }
