 #body {
     background-color: var(--background);
     height: 100%;
 }
 
 .footer {
     width: 100%;
     background-color: white;
     height: 5px;
     position: fixed;
     bottom: 0;
     z-index: 2000;
 }