<div class="menu noselect">
  <div class="pager">
    <strong>{{pageNumber}}</strong>
    <div class="material-icons md-36">remove</div>
    <strong>{{textList.length + 1}}</strong>
  </div>
  <div class="controller">
    <div class="button">
      <span class="material-icons round-button md-18" (click)="nextPage()">keyboard_arrow_right</span>
    </div>
    <div class="button">
      <span class="material-icons round-button md-18" (click)="previousPage()">keyboard_arrow_left</span>
    </div>
  </div>
</div>
