.navbar {
  width: 100%;
  height: 50px;
  z-index: 2;
  position: fixed;
  margin: 0 auto;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}
  :hover{
    cursor: pointer;
    color: red;
  transition: 0.5s;
  }
}
