<header>
  <input type='checkbox' id='toggle' style='display:none;' />
  <label class='toggle-btn toggle-btn__cross' for='toggle'>
    <div class="content">
      <span id="line_one" class="bar"></span>
      <span id="line_two" class="bar"></span>
      <span id="line_three" class="bar"></span>
    </div>
    <div class="content_animation">
      <div id="line_animation_one" class="line"></div>
      <div id="line_animation_two" class="line"></div>
      <div id="line_animation_three" class="line"></div>
    </div>
  </label>
  <nav>
    <ul>
      <li><a routerLink="/"><span class="hover">Inicio</span></a></li>
      <li><a routerLink="/scripts/1"><span class="hover">Colección</span></a></li>
      <li><a routerLink="/contact"><span class="hover">Contacto</span></a></li>
    </ul>
  </nav>
</header>
