
<app-menu-fullscreen></app-menu-fullscreen>
<app-left-sidebar></app-left-sidebar>

<app-sidebar [textList]="textList" [pageNumber]="pageNumber"
  (transitionDirection)="setAnimationParams($event)"></app-sidebar>

<div id="body" class="container">
  <app-textsection  [title]="textList[scriptPosition].title" [text]="textList[scriptPosition].text"
    [bgColor]="textList[scriptPosition].bgColor || '#999563'" [textColor]="textList[scriptPosition].textColor || '#FFF'" [date]="textList[scriptPosition].date">
  </app-textsection>
</div>
