<div class="body">
  <app-menu-fullscreen></app-menu-fullscreen>
  <app-left-sidebar></app-left-sidebar>
  <section class="section">
    <h1>Hola</h1>
    <div class="par">
      <p class="uno">
        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui
        possimus sit eveniet laborum sapiente quisquam quae neque velit?
      </p>
        <p class="dos">
          Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui
          possimus sit eveniet laborum sapiente quisquam quae neque velit?
        </p>
    </div>
  </section>
</div>
