<div class="body">

  <div class="waterpage"> Inicio </div>
  <!--  -->
  <app-menu-fullscreen></app-menu-fullscreen>
  <!--  -->
  <app-left-sidebar></app-left-sidebar>
  <!--  -->
  <section class="section">
    <div>
      <p>¡hola! soy David</p>
      <h1>design skate code</h1>
    </div>
    <div>
      <h1>design skate code</h1>
    </div>
    <!-- <div class="par">
      <p class="uno">code</p>
      <p class="dos">skate</p>
    </div> -->
  </section>
  <!--  -->
  <div id="pull-line" class="pull-line">
    <button class="round-button" routerLink="scripts/01"> Empezar a leer </button>
    <hr class="line">
    <i class="icon-chevron-right icon-large"></i>
  </div>
</div>
