.section {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;
  overflow: visible;
  margin: 0 auto;
      h1 {
        width: 50px;
        animation: header 150s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
        width: 100%;
        // text-align: center;
        font-size: 4rem;
        // font-weight: 800;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 15vh;
        div {
        width: 70%;
        }
      }
.content {
  // background-color: red;
  width: 100%;
  max-width: 700px;
  height: calc(100vh - 280px);
  position: absolute;
  padding: 40vh 0px;
  overflow-y: scroll;
}}
