.body {
  // background-color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
.waterpage {
  position:absolute;
  font-size: 100px;
  line-height: 100px;
  top: 40vh;
  left: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff6b;
  // background-color: red;
  font-weight: 800;
  z-index: 0;
}
.pull-line {
  position: absolute;
  display: flex;
  align-items: center;
  top: 100vh;
  right: 30px;
  transform: rotate(90deg) translate(-50%, 0);
  .line {
    width: 70px;
    height: 2px;
    // background-color: white;
    background-color: rgb(54, 54, 54);
  }
  .icon-chevron-right {
    color:  rgb(54, 54, 54);
    margin-top: 3px;
  }
}
.round-button {
  background-color: transparent;
  // border: 2px solid rgb(54, 54, 54);
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow:none;
  transition: 0.7s background-color ease-in-out;
  font-size: .8rem;
  &:hover {
    transition: 0.7s background-color ease-in-out;
    background-color: #ffffff6b;
  }
}

.section {
  width: 100%;
  // background-color: red;
  max-width: 600px;
  display: flex;
  overflow: scroll !important;
  height: calc(100vh - 20vh);
  padding: 20vh 0px;
  margin: 0 auto;
  z-index: 10;
  div:last-child {
    align-self: center;
    // background-color: blue;
  }
      h1 {
        animation: header 150s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
        font-size: 3.5rem;
        line-height: 3.5rem;
        // font-weight: 800;
        color: rgba(0, 0, 0, 0.8);
        // margin-bottom: 15vh;
      }
}
.par {
  height: auto;
  overflow: hidden;
}

.uno {
  line-height: 28px;
  transform: translateY(200px);
  animation: slideUp 2s ease-in-out forwards 1s;
}
.dos {
  line-height: 28px;
  transform: translateY(200px);
  animation: slideUp 1.8s ease-in-out forwards 1.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
