.waterpage {
    position: fixed;
    font-size: 100px;
    line-height: 100px;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    color: #5d5d617e;
    font-weight: 800;
}

.container {
    overflow: scroll !important;
    width: 100vw;
    height: 100vh;
    background-color: #4b4b4e;
}

.content {
    width: 25px;
    height: 24px;
    position: fixed;
    z-index: 5;
    right: 30px;
    top: 30px;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}

.content span {
    width: 25px;
    height: 3px;
    background: rgb(255, 255, 255);
    position: absolute;
}

#line_one {
    transform: translateY(8px) rotate(45deg);
}

#line_two {
    top: 8px;
    transform: rotate(-45deg);
}