.menu {
  height: 100px;
  width: 100vh;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: flex-end ;
  z-index: 2;
  font : normal 900 24px 'Chivo', serif;
  color: rgba(255,255,255,0.7);
}
.position {
  position: absolute;
  left: 0%;
  transform: translate(50%, 0%);
}
.rotate{
  transform: rotate(-90deg) translate(-100px, 0);
  transform-origin: left top;
}
.social-media-btn {
  margin-left: 10px;
  color: #6D7587;
  border: 1px solid #ffffff;
  border-radius: 50px;
  // height: 50px;
  // width: 50px;
  padding: 6px 9px;
  background-color: transparent;
  transition: 0.3s border ease-in-out, 0.3s box-shadow ease-in-out,0.3s 0.3s transform ease-in-out ;
}
.social-media-btn:hover{
  cursor: pointer;
  transition: 0.3s 0.3s border ease-in-out, 0.3s 0.3s box-shadow ease-in-out, 0.3s transform ease-in-out;
  border: 1px solid #ecf1f8;
  box-shadow:
    -8px -8px 20px 0px #fff9,
    -5px -5px 6px 0px #fff9,
    8px 8px 20px 0px #0001,
    5px 5px 6px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
    transform: rotate(90deg);
}
.social-media-btn:active {
    transition: border ease-in-out, box-shadow ease-in-out, transform ease-in-out;
    border: 1px solid #d8dde4;
    box-shadow:
    0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001,
    0px 0px 0px 0px #0001,
    inset -8px -8px 20px 0px #fff9,
    inset -5px -5px 6px 0px #fff9,
    inset 8px 8px 20px 0px #0003,
    inset 5px 5px 6px 0px #0001;
    transform: rotate(90deg);

}

.icon-linkedin, .icon-envelope {
font-size: large;
// cursor: pointer;
}
.brand{
  align-self: flex-start;
  margin-left: auto;
}

