<!-- <div class="frame-top"></div> -->
<div id="top" class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>
<section class="section" (scroll)="onScroll($event)">
  <div class="par">
    <div *ngIf="show" [@title]>
      <h1>
        <div>
          {{title}}
        </div>
      </h1>
    </div>
  </div>
  <div class="par">
    <pre id="body-text" *ngIf="show" [@text]>{{text}}</pre>
  </div>
</section>
<!-- <div class="footer">
  <div class="gradient" *ngIf="scrolled === 0" [@inOutAnimation]>
    {{scrolled}}
    <div id="scroll-down" class="demo" *ngIf="hasScroll && scrolled < 80" [@inOutAnimation]>
      <div><span id="mouse"></span></div>
    </div>
  </div>
</div> -->
