<!-- <div class="frame-top"></div> -->
<section class="section" (scroll)="onScroll($event)">
  <div class="header col-12" >
    <h1 [@inOutAnimation]>
      <p>
        {{title}}
      </p>
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
    </h1>
    <!-- <span>{{date}}</span> -->
  </div>
  <div class="content col-12" (scroll)="onScroll($event)">
    <pre id="body-text" (scroll)="onScroll($event)">{{text}}</pre>
  </div>
</section>
<div class="footer-gradient" *ngIf="hasScroll && scrolled ==0" [@inOutAnimation]>
  <!-- {{scrolled}} -->
  <div id="scroll-down" class="demo">
    <div><span id="mouse"></span>Scroll</div>
  </div>
</div>


