<!-- <div class="frame-top"></div> -->
<div id="top" class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>
<section class="section" *ngIf="show" [@fadeInFadeOut] (scroll)="onScroll($event)">
          <h1>
            <div>
              {{title}}
            </div>
          </h1>
    <pre id="body-text">{{text}}</pre>
</section>
<!-- <div class="footer">
  <div class="gradient" *ngIf="scrolled === 0" [@inOutAnimation]>
    {{scrolled}}
    <div id="scroll-down" class="demo" *ngIf="hasScroll && scrolled < 80" [@inOutAnimation]>
      <div><span id="mouse"></span></div>
    </div>
  </div>
</div> -->
