.section {
  position: relative;

  .header {
    text-align: left;
  }

  .content {
    pre {
      background-color: transparent;
      border: none;
      color: #222222 !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0%;
      transform: translate(0%, 30%);
      font-size: 1.4em;
      word-break: keep-all;
      overflow: auto;
      margin: auto;
      font-Family: 'Quattrocento', Serif;
      line-height: 1.5;
      text-align: left;
      max-width: 800px;
      width: 80vw;
      height: 50vh;
    }
  }
}

#scroll-down div {
  padding-top: 40px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  color: #fff;
  font : normal 800 18px;
  letter-spacing: .1em;
  #mouse {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 35px;
    margin-left: -10px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  :before {
    position: absolute;
    top: 5px;
    left: 50%;
    content: '';
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scrolling 2s infinite;
    animation: scrolling 2s infinite;
    box-sizing: border-box;
  }
}

@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 16px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrolling {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 16px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
